$sidebar-width: 350px;
$min-input-size: 40px;
$mana-size: 25px;

$gray: #cccccc;
$darkgray: #111111;

$multicolor: #dcbb76;
$colorless: #c5ccd1;

$colors: (
  'w': #e7e7ca,
  'u': #a3c6e7,
  'b': #aca29a,
  'r': #db8664,
  'g': #93b483,
);
