// Sizes
$sidebar-width: 400px;
$min-input-size: 40px;
$mana-size: 25px;

$card-width: 64;
$card-height: 88;
$card-aspect-ratio: $card-height / $card-width;

// Colors
$gray: #cccccc;
$darkgray: #222222;

$multicolor: #dcbb76;
$colorless: #c5ccd1;

$colors: (
  'w': #e9e3cb,
  'u': #a3c6e7,
  'b': #aca29a,
  'r': #db8664,
  'g': #93b483,
);

$modal-background: rgba(0, 0, 0, 0.75);
